[submodule "FrontendService/my-app"]
    path = FrontendService/my-app
    url = https://github.com/Luxury-Entertainment-CrowdTech/my-app.git
[submodule "AppAuthMiddleware/backend"]
    path = AppAuthMiddleware/backend
    url = https://github.com/Luxury-Entertainment-CrowdTech/app-auth-middleware-backend.git
[submodule "AppAuthMiddleware/frontend"]
    path = AppAuthMiddleware/frontend
    url = https://github.com/Luxury-Entertainment-CrowdTech/app-auth-middleware-frontend.git